<div style="height: 200px; width: 500px; color: #ffffff;
	background-image: url(https://hdqwalls.com/download/churei-tower-mount-fuji-in-japan-8k-68-7680x4320.jpg); background-repeat: repeat-x">
  background-repeat: no-repeat; background-attachment: scroll;<br>
</div>
